# Default ignored files
/../../Registeration System /.idea/shelf/
/../../Registeration System /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Registeration System /.idea/httpRequests/
# Datasource local storage ignored files
/../../Registeration System /.idea/dataSources/
/../../Registeration System /.idea/dataSources.local.xml
